<ion-view view-title="Home">
    <ion-content overflow-scroll="true" padding="true">
      <div class="im-wrapper">
            <h4 class="content padding double-padding-x">Mes Dossiers</h4>
        </div>
        <!--<ion-list>
            <ion-item nav-clear menu-close class="item-icon-right" ng-click="blinds();">Dossier 1
              <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="blinds();">Dossier 2</ion-item>
            <ion-item nav-clear menu-close ng-click="blinds();">Dossier 3</ion-item>
        </ion-list>-->
        <div class="card list" ng-click="Detail()">
          <div class="item item-text-wrap">
            Card text...
            <span class="badge badge-positive text-right">5</span>
          </div>

         <div class="item item-divider">
           <p class="">
             <i class="icon ion-clock"></i> 22/02/2015
           </p>
         </div>
      </div>
    </ion-content>
</ion-view>
