<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <ion-list>
          <div class="item item-divider">
            Information Personnel
          </div>
          <ion-item>Nom & Prénom : {{info.nom + " " + info.prenom}}</ion-item>
          <ion-item>CIN : {{info.cin}}</ion-item>
          <ion-item>Tel : {{info.tel}}</ion-item>
          <ion-item>Adresse : {{info.rue + " " + info.codePostal + " " + info.ville}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
