<ion-view title="Mes Rendez-Vous">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <ionic-datepicker ng-hide="hideTime" input-obj="datepickerObject">
          <button id="date" class="button button-block button-positive">
          </button>
        </ionic-datepicker>

      <!--  <ionic-timepicker ng-hide="hideTime" input-obj="timePickerObject">
          <button id="time" class="button button-positive overflowShow">
            <standard-time-meridian etime='timePickerObject.inputEpochTime'>
            </standard-time-meridian>
          </button>
        </ionic-timepicker>-->

        <ion-list>
          <ion-item ng-repeat="event in events"
          item="item"
          class="item-remove-animate">
              {{event.header | date: 'dd/MM/yyyy HH:mm'}}
              <p>{{event.description}}</p>

              <ion-option-button class = "button-assertive">Delete</ion-option-button>
          </ion-item>
        </ion-list>
          <nav mfb-menu position="br" effect="zoomin" ng-click="chooseDate()"
           active-icon="ion-plus-round" resting-icon="ion-plus-round"
           toggling-method="click">
        </nav>
    </ion-content>
</ion-view>
